* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  border: 5px #F00 solid;
  margin: 20px auto 10px;
  width: 50%;
}

.rainbowGolem {
  border: 2px #3ee dotted;
  padding: 10px;
}
